<div class="todo">
    <h1 class="text-center py-5 text-danger">
        my todo list
    </h1>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="addinput my-3">
            <input type="text" >

        </div>
        <div class="box py-5">
            <ul>
                @for (item of todos;track item.id){
                <li class="d-flex justify-content-between">
                    <input type="checkbox">
                    <p> gghhhilu hghgg</p>
                    <i class="bi bi-trash text-danger"></i>

                 </li>
                }
            </ul>
          
            
      
        </div>
    </div>
</div>